In [5]:
import pandas as pd

# Charger le fichier Parquet pour examiner sa structure
df_example = pd.read_parquet('preprocessed_latest (1).parquet')

# Afficher les premières lignes du DataFrame pour inspecter les colonnes
df_example

,date,expected,baguettes,café,croissants,fruits,jus d'orange,pain au chocolat,month,day,weekday
0,2023-01-01,79,42,44,85,55,69,87,1,1,6
1,2023-01-02,72,46,65,49,61,53,77,1,2,0
2,2023-01-03,50,49,64,55,37,39,61,1,3,1
3,2023-01-04,60,78,54,59,43,68,70,1,4,2
4,2023-01-05,77,53,56,70,46,38,56,1,5,3
...,...,...,...,...,...,...,...,...,...,...,...
396,2024-02-01,64,68,49,65,63,67,72,2,1,3
397,2024-02-02,77,37,77,67,63,58,44,2,2,4
398,2024-02-03,52,42,41,47,59,54,69,2,3,5
399,2024-02-04,56,39,40,76,39,62,56,2,4,6
400,2024-02-05,68,63,75,42,36,38,78,2,5,0