In [2]:
import pandas as pd

# Charger le fichier Parquet pour examiner sa structure
df_example = pd.read_parquet('2024-02-08 (1).parquet')

# Afficher les premières lignes du DataFrame pour inspecter les colonnes
df_example

        date              item  quantity  expected
0 2024-02-08        croissants        24        50
1 2024-02-08  pain au chocolat        33        50
2 2024-02-08         baguettes        27        50
3 2024-02-08            fruits        30        50
4 2024-02-08      jus d'orange        36        50
5 2024-02-08              café        27        50