In [5]:
import pandas as pd

# Charger le fichier Parquet pour examiner sa structure
df_example = pd.read_parquet('2024-02-10.parquet')

# Afficher les premières lignes du DataFrame pour inspecter les colonnes
df_example

        date              item  quantity  expected
0 2024-02-10        croissants       132      1000
1 2024-02-10  pain au chocolat       220      1000
2 2024-02-10         baguettes       154      1000
3 2024-02-10            fruits       308      1000
4 2024-02-10      jus d'orange       264      1000
5 2024-02-10              café       242      1000